* {
  /* font-family: "JetBrains Mono", "Noto Sans Mono", monospace; */
  font-family: "Noto Sans Mono", monospace;
  font-size: 18px;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-weight: 600;
  padding: 0 4px;
}
