* {
  font-family: "Roboto";
  font-size: 22px;
}

window {
  /* background-color: #2b3339; */
  background-color: #303030;
  border: 0px solid #3d484d;
}

#input {
  /* background-color: #323c41; */
  background-color: #303030;
  /* color: #d3c6aa; */
  color: #c4c4c4;
  /* border: 1px solid #3d484d; */
  border: 1px solid #303030;
  border-radius: 2px;
  padding: 8px 12px;
  margin: 8px;
}

#input:focus {
  /* border-color: #a7c080; */
  background-color: #303030;
}

#inner-box {
  background-color: transparent;
  margin: 0 8px 8px 8px;
}

#outer-box {
  padding: 4px;
}

#scroll {
  background-color: transparent;
}

#text {
  /* color: #d3c6aa; */
  color: #c4c4c4;
  padding: 2px 8px;
}

#entry {
  border-radius: 2px;
  padding: 4px;
  transition: all 0.15s ease;
}

#entry:selected {
  /* background-color: #3d484d; */
  /* background-color: #5b5b5b; */
  background-color: #c1b744;
}

#entry:selected #text {
  /* color: #a7c080; */
  color: #000000;
}
